.adminEmail {
    #emailEditor {
        height: 400px !important;
        width: 100% !important;
    }

    .emailRendering {
        min-height: 400px !important;
        width: 100% !important;
    }
}
