/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.pageHeader .languageMenu {
  background: #F9FAFB !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin: 0 !important; }
  .pageHeader .languageMenu .languageContainer {
    border-bottom: solid 1px #F3F4F5;
    padding: 10px 0; }
    .pageHeader .languageMenu .languageContainer .ui.segment.menu.transition.visible {
      width: 340px; }

.pageHeader .mobileSegment, .pageHeader .desktopSegment {
  min-height: 700px;
  padding: 0 !important; }
  .pageHeader .mobileSegment .globalHeaderMenu, .pageHeader .desktopSegment .globalHeaderMenu {
    border-radius: 0 !important;
    height: 60px;
    margin-bottom: 0;
    padding: 0;
    z-index: 1000 !important; }
    .pageHeader .mobileSegment .globalHeaderMenu .headerLink, .pageHeader .desktopSegment .globalHeaderMenu .headerLink {
      font-size: 15px !important;
      font-weight: bold !important; }
    .pageHeader .mobileSegment .globalHeaderMenu .headerLogo, .pageHeader .desktopSegment .globalHeaderMenu .headerLogo {
      cursor: pointer;
      display: inline;
      margin-right: 12px;
      vertical-align: middle;
      width: 50px; }
    .pageHeader .mobileSegment .globalHeaderMenu .logoText, .pageHeader .desktopSegment .globalHeaderMenu .logoText {
      font-size: 32px;
      margin: 0 10px 0 0; }
    .pageHeader .mobileSegment .globalHeaderMenu .signInLink, .pageHeader .desktopSegment .globalHeaderMenu .signInLink {
      padding-right: 0; }

.ui.sidebarContainer {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.mainWrapper .gridSegment {
  padding: 4em 0; }
  .mainWrapper .gridSegment.noPadding {
    padding: 0; }
    .mainWrapper .gridSegment.noPadding .grid .row .column {
      padding-bottom: 4em;
      padding-top: 4em; }
  .mainWrapper .gridSegment .divider {
    margin: 3em 0em;
    text-transform: uppercase; }
  .mainWrapper .gridSegment h3 {
    font-size: 1.8em; }
  .mainWrapper .gridSegment p {
    font-size: 1.25em; }

.mainWrapper .ui.container.heroContainer {
  background: rgba(255, 255, 255, 0);
  background-size: cover;
  height: 600px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 50px;
  width: 100% !important; }
  .mainWrapper .ui.container.heroContainer .heroHeaderOne, .mainWrapper .ui.container.heroContainer .heroHeaderTwo {
    color: #1B1C1D;
    font-size: 4em;
    font-weight: bold; }
  .mainWrapper .ui.container.heroContainer .heroHeaderTwo {
    font-size: 1.7em;
    font-weight: normal; }
  .mainWrapper .ui.container.heroContainer .button {
    margin-top: 15px; }
  .mainWrapper .ui.container.heroContainer .container {
    padding: 0 20px; }
  .mainWrapper .ui.container.heroContainer .heroSegment {
    margin-top: 50px !important;
    opacity: 0.9; }
    .mainWrapper .ui.container.heroContainer .heroSegment .grid .column {
      margin-bottom: 0; }
      .mainWrapper .ui.container.heroContainer .heroSegment .grid .column .react-datepicker-wrapper {
        width: 100% !important; }
      .mainWrapper .ui.container.heroContainer .heroSegment .grid .column .storeDropdown, .mainWrapper .ui.container.heroContainer .heroSegment .grid .column .timeDropdown {
        font-size: 18px;
        height: 98.5%;
        min-height: 98.5%; }
      .mainWrapper .ui.container.heroContainer .heroSegment .grid .column .button {
        margin-top: 0 !important; }

@media only screen and (max-width: 1025px) {
  .ui.container.heroContainer {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .ui.container.sidebarContainer {
    margin-left: 0 !important;
    margin-right: 0 !important; } }

.ui.vertical.ui.push.left.sidebar.menu {
  z-index: 1001 !important; }
