/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
@font-face {
  font-family: logoFont;
  src: url("../../../css/fonts/dealerplate california.ttf"); }

.pageHeader .languageContainer {
  padding: 10px 0; }

.pageHeader .mobileSegment, .pageHeader .desktopSegment {
  min-height: 700px;
  padding: 0; }
  .pageHeader .mobileSegment .globalHeaderMenu, .pageHeader .desktopSegment .globalHeaderMenu {
    border-radius: 0 !important;
    height: 60px;
    margin-bottom: 0;
    padding: 0;
    z-index: 1000 !important; }
    .pageHeader .mobileSegment .globalHeaderMenu .headerLink, .pageHeader .desktopSegment .globalHeaderMenu .headerLink {
      font-size: 15px !important;
      font-weight: bold !important; }
    .pageHeader .mobileSegment .globalHeaderMenu .headerLogo svg, .pageHeader .desktopSegment .globalHeaderMenu .headerLogo svg {
      cursor: pointer;
      display: inline;
      fill: #2185D0;
      line-height: 1;
      margin-right: 12px;
      vertical-align: middle; }
    .pageHeader .mobileSegment .globalHeaderMenu .logoText, .pageHeader .desktopSegment .globalHeaderMenu .logoText {
      font-family: logoFont;
      font-size: 45px;
      margin: 10px 10px 0 0; }

.ui.sidebarContainer {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.mainWrapper .gridSegment {
  padding: 4em 0; }
  .mainWrapper .gridSegment.noPadding {
    padding: 0; }
    .mainWrapper .gridSegment.noPadding .grid .row .column {
      padding-bottom: 4em;
      padding-top: 4em; }
  .mainWrapper .gridSegment .divider {
    margin: 3em 0em;
    text-transform: uppercase; }
  .mainWrapper .gridSegment h3 {
    font-size: 1.8em; }
  .mainWrapper .gridSegment p {
    font-size: 1.25em; }

.mainWrapper .heroContainer {
  background: rgba(255, 255, 255, 0);
  background-size: cover;
  background-image: url("../../../images/skyline.jpg");
  height: 600px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 50px;
  width: 100% !important; }
  .mainWrapper .heroContainer .heroHeaderOne, .mainWrapper .heroContainer .heroHeaderTwo {
    color: #1B1C1D;
    font-size: 4em;
    font-weight: bold; }
  .mainWrapper .heroContainer .heroHeaderTwo {
    font-size: 1.7em;
    font-weight: normal; }
  .mainWrapper .heroContainer .button {
    margin-top: 15px; }
  .mainWrapper .heroContainer .container {
    padding: 0 20px; }
  .mainWrapper .heroContainer .heroSegment {
    margin-top: 50px !important;
    opacity: 0.9; }
    .mainWrapper .heroContainer .heroSegment .grid .column {
      margin-bottom: 0; }
      .mainWrapper .heroContainer .heroSegment .grid .column .react-datepicker-wrapper {
        width: 100% !important; }
      .mainWrapper .heroContainer .heroSegment .grid .column .storeDropdown, .mainWrapper .heroContainer .heroSegment .grid .column .timeDropdown {
        font-size: 18px;
        height: 98.5%;
        min-height: 98.5%; }
      .mainWrapper .heroContainer .heroSegment .grid .column .button {
        margin-top: 0 !important; }

.ui.vertical.ui.push.left.sidebar.menu {
  background: #2185D0 !important;
  z-index: 1001 !important; }
