/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.reviewsList {
  width: 100%; }
  .reviewsList .emptyContainer {
    text-align: center; }
  .reviewsList .comments {
    max-width: none !important; }
