/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.homePage {
  background: #FFFFFF; }
  .homePage .assignContainer {
    background-image: url("../images/skyline.jpg");
    background-size: cover; }
  .homePage .mainContainer {
    min-height: 90vh;
    padding-bottom: 40px; }
  .homePage .heroHeader {
    color: #FFFFFF !important;
    font-size: 64px !important;
    top: 40px;
    padding-left: 6px !important;
    position: relative; }
  .homePage .heroSegment {
    margin-top: 50px !important;
    opacity: 0.9; }
    .homePage .heroSegment .form .fields.width {
      margin-bottom: 0; }
      .homePage .heroSegment .form .fields.width .react-datepicker-wrapper {
        width: 100% !important; }
      .homePage .heroSegment .form .fields.width .field .ui.selection.dropdown .icon {
        float: left;
        margin-right: 10px; }
  .homePage .paddedSegment {
    padding: 8em 0em !important; }
  .homePage .homePageSegment h3 {
    font-size: 2em !important; }
  .homePage .homePageSegment p {
    font-size: 1.33em !important; }
  .homePage .homePageSegment .divider {
    margin: 3em 0em;
    text-transform: uppercase; }
  .homePage .notPaddedSegment {
    padding: 0 !important; }
    .homePage .notPaddedSegment .grid .row .column {
      padding-bottom: 5em;
      padding-top: 5em; }

.signInPage {
  background: #F9FAFB;
  height: 80vh; }
  .signInPage .signInContainer {
    background: #F9FAFB; }
    .signInPage .signInContainer .loginForm {
      background: #F9FAFB;
      height: 100%;
      padding: 25px 0; }
      .signInPage .signInContainer .loginForm .header {
        margin-top: 0; }
      .signInPage .signInContainer .loginForm .grid .column {
        max-width: 450px; }
