@import 'colors.scss';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mainContainer {
	min-height: 100vh;
	margin: 1.4em 0;
	// padding: 15px;
}

.adminContainer {
	height: 100%;

	.adminHeaderMenu {
		border-radius: 0 !important;

		.logoText {
			color: $blue;
			font-size: 24px;
			font-style: italic;
			font-weight: bold;
		}
	}

	.grid {
		margin: 0 !important;

		.leftSide {
			padding: 0 !important;

			.menu {
				border-radius: 0 !important;
				height: 100%;
			}
		}

		.rightSide {
			margin-left: 0 !important;
			padding-left: 0 !important;

			.mainContent {
				padding: 0 16px !important;

				#cssEditor {
					height: 850px !important;
					width: 100% !important;
				}
			}
		}
	}
}

.mainWrapper {
	.paddedSegment {
		padding: 8em 0em !important;
	}

	.homePageSegment {
		h3 {
			font-size: 2em !important;
		}

		p {
			font-size: 1.33em !important;
		}

		.divider {
			margin: 3em 0em;
			text-transform: uppercase;
		}
	}

	.notPaddedSegment {
		padding: 0 !important;

		.grid .row .column {
			padding-bottom: 5em;
			padding-top: 5em;
		}
	}

	.mainContainer {
		min-height: 50vh;
		padding: 30px 0;
	}

	.goBack {
		color: $blue;
		cursor: pointer;
	}
}

.datePicker {
	.ui.icon.input {
		width: 100%;
	}
}

.aboutPage {

}

.applyPage {
	height: 100vh;
}

.bikesPage {
	.container.mainContainer {
		padding-top: 0 !important;
	}
}

.checkoutPage {
	.grid {
		.rightSide {
			// padding-left: 0 !important;
		}
	}
}

.citiesPage {
	.container.mainContainer {
		padding-top: 0 !important;
	}
}

.contactPage {
	.container.mainContainer {
		padding-top: 0 !important;
	}
}

.profilePage {
	.container.mainContainer {
		padding-top: 0 !important;
	}
}

.signInPage {
	min-height: 100vh;

	.signInContainer {
		.loginForm {
			height: 100%;
			padding: 25px 0;

			.header {
				margin-top: 0;
			}

			.grid {
				.column {
					max-width: 450px;
				}
			}
		}
	}
}


.storesPage {
	.googleMapsBox {
		height: 270px;
		width: 100%;
	}
}
