@import 'colors.scss';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mainContainer {
	min-height: 100vh;
    margin: 1.4em 0;
    // padding: 15px;
}


.homePage {
	background: $white;

	.paddedSegment {
		padding: 8em 0em !important;
	}

	.homePageSegment {
		h3 {
			font-size: 2em !important;
		}

		p {
			font-size: 1.33em !important;
		}

		.divider {
			margin: 3em 0em;
			text-transform: uppercase;
		}
	}

	.notPaddedSegment {
		padding: 0 !important;

		.grid .row .column {
			padding-bottom: 5em;
			padding-top: 5em;
		}
	}
}


.adminPage {
	.blogEditorContainer {
		min-height: 560px;
	}
}


.signInPage {
	background: $offWhite;
	height: 80vh;

	.signInContainer {
		background: $offWhite;

		.loginForm {
			background: $offWhite;
			height: 100%;
			padding: 25px 0;

			.header {
				margin-top: 0;
			}

			.grid {
				.column {
					max-width: 450px;
				}
			}
		}
	}
}
