.adminBlog {
    .editorContainer {
        min-height: 560px;
        padding: 0 10px;
    }

    .blogListItem {
        cursor: pointer;

        .blogItemEntry {
            display: -webkit-box;
            max-height: 110px;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}
